@font-face{ /* Ajoute une nouvelle police */
	font-family:'Bryndan Write'; 
	src: url('../fonts/BryndanWriteBook.ttf') format('truetype');
}

@font-face{ /* Ajoute une nouvelle police */
	font-family:'Bebas Neue Cyrillic';
	src: url('../fonts/bebasneuecyrillic.ttf') format('truetype');
}

body{ /* couleur de fond de la page */
	background-color:#20BF3E;
}

.titre > table{ /* styles du titre */
	margin:auto; /* Centre le tableau */
	font-size:45px;
	font-family:'Bryndan Write';
	font-weight:bold;
}

.titre > table tr td img { /* Styles du logo */
	height:50px;
	width:50px;
}

button, input[type='submit']{ /*retire les styles des boutons*/
	background:none;
	color:inherit;
	border:none;
	padding:0;
	font:inherit;
	cursor:pointer;
	outline:inherit;
}

.buttons{ /* styles du 1er formulaire */
	margin-top:11.5%;
	margin-right:55%;
	margin-left:25%;
	font-family:'Bebas Neue Cyrillic';
}

.buttons > form{
	margin:0; /* supprime les marges du formulaire de choix s'enregistrer/se connecter */
}

.buttons > form input[type='text']{
	display:none; /* cache un input qui servira au choix du type de formulaire */
}

.choice{ /* style du 1er choix */
	padding: 10px 15px 10px 15px;
	font-size:18.5px;
	background-color:#7ED957;
}

.choice1{ /* style du 2e choix */
	padding: 10px 15px 10px 15px;
	font-size:18.5px;
	background:linear-gradient(#a6a6a6,#ffffff);
}

.forms{ /* styles du 1er formulaire */
	margin-top:0; 
	padding-top:3.75%;
	background-color:#7ED957;
	margin-right:25%;
	margin-left:25%;
	font-family:'Bebas Neue Cyrillic';
}

.forms > form table{ /* style du tableau du formulaire */
	text-align:center;
	margin:auto;
	line-height:28.5px;
	font-size:22.5px;
}

.forms > form table tr td input { /* styles des inputs du formulaire */
	margin-left:20px;
	height:25px;
	width:100%;
}

.forms > form table tr td input[type='submit'] { /* Style du bouton du formulaire */
	margin-left:inherit;
	margin-right:inherit;
	font-size:20px;
	margin-top:5%;
	margin-bottom:2%;
	background-color:#B89BF1;
	color:#ffffff;
	border: 1px solid #B89BF1;
	height:25px;
	width:100%;
}

.forms > form table tr td input[type='submit']:hover { /* Style du bouton du formulaire */
	background-color:#BD33A4;
}

.eye{
	width:20px;
	height:20px;
}