@font-face{ /* Ajoute une nouvelle police */
	font-family:'Bryndan Write'; 
	src: url('../fonts/BryndanWriteBook.ttf') format('truetype');
}

@font-face{ /* Ajoute une nouvelle police */
	font-family:'Bebas Neue Cyrillic';
	src: url('../fonts/bebasneuecyrillic.ttf') format('truetype');
}

@font-face{ /* Ajoute une nouvelle police */
	font-family:'League Spartan';
	src: url('../fonts/LeagueSpartan.ttf') format('truetype');
}

@font-face{ /* Ajoute une nouvelle police */
	font-family:'Medula One';
	src: url('../fonts/MedulaOne.ttf') format('truetype');
}

@font-face{ /* Ajoute une nouvelle police */
	font-family:'Open Sans';
	src: url('../fonts/OpenSans.ttf') format('truetype');
}

body{
	margin:0px;
	padding:0px;
}

