#options{
	display:flex;
	flex-direction:row; /* aligne sur un eligne les div */
	align-items:center; /* centre verticalement les div */
	flex-wrap:wrap; /* permet le retour à la ligne */
	justify-content:center; /* centre horizontalement les div */
}

.specev{
	font-family:League Spartan; /* change la police */
	font-weight:bold; /* mets le texte en gras */
	margin: 20px auto 0px auto; /* gère l'espacement entre les div */
	text-align:center; /* centre le texte*/
	text-decoration:none;
	color:black;
	height:110px; /* définit la hauteur des div */
	flex-basis:200px; /*définit la largeur de base d'un div */
	padding-top:75px; /* marge interne du texte */
	border-radius:20px; /* aroondi les bords */
	background-color:#42A5F5; /* définit la couleur de fond */
}

.specev:hover{
	background-color:rgba(66, 165, 245, 0.5); /* couleur de fond au passage de la souris */
}
