form{
	display:flex;
	margin-top:20px; /*marge du formulaire */
	justify-content:center; /*centre le select*/
}

#period{
	text-align:center; /* Centre le texte */ 
	font-size:30px; /* Taille du texte */ 
	font-family:Medula One;
	padding:1px 10px 1px 10px; /* marge interne */ 
}

table,th,td{
	border: 0.5px solid; /* affiche les bordures */ 
	border-collapse:collapse; /* retire l'espacement entre les cellules */ 
	padding:5px 15px 5px 15px; /* marges internes */ 
}

th{
	background-color:#191919;
	color:white;
	font-family:Open Sans;
	width:125px; /* largeur des th */ 
	font-size:15px;
}

.eval{
	display:flex; /* déclare une flexbox */ 
	flex-direction:row; /* aligne les tableaux en ligne */ 
	flex-wrap:nowrap; /* empêche un retour à la ligne */ 
	justify-content:space-around; /* espacement réparti entre les tableaux */ 
}

h1{
	text-align:center;
	font-family:Medula One;
	border: 1px solid; /* ajoute une bordure */ 
	margin:5px 38% 10px 38%;
}